etl-file-model/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="listener"
		doc:id="07b05a19-b797-46d2-93b8-0e64845ca726">
		<http:listener doc:name="Listener"
			doc:id="b2317bb0-1851-418f-bfda-178a40b431c2"
			config-ref="HTTP_Listener_config" path="${http.path}" />
		<flow-ref doc:name="main"
			doc:id="1fa55b16-d650-4d31-908b-007d3134321b" name="main" />
		<ee:transform doc:name="Response"
			doc:id="bc4c5e3c-1fa4-4a8a-a8f8-f248802ffb91">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Integration ran successfully."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="main"
		doc:id="77a4f976-9ed6-4b5d-b685-9966ff379b6a">
		<logger level="INFO" doc:name="starts-integration"
			doc:id="391d9ed8-76fd-45cb-8666-4cc0f5a26288"
			message='#["LOG: starts integration -&gt; " ++ (app.name as String)]' />
		<logger level="INFO" doc:name="ends-integration"
			doc:id="ecdbbccc-0113-4411-8d53-6a28395e370f"
			message='#["LOG: ends integration -&gt; " ++ (app.name as String)]' />
	</sub-flow>
</mule>
