etl-database-to-file-smb/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
  xmlns="http://www.mulesoft.org/schema/mule/core" 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core 
                      http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	                    http://www.mulesoft.org/schema/mule/ee/core 
                      http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
                      http://www.mulesoft.org/schema/mule/http
                      http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	                    http://www.mulesoft.org/schema/mule/db
                      http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd" >
  <flow 
    doc:name="main"
    doc:id="b62a2381-bece-4cb1-b28e-290aa8eace12" 
    name="main" >
    <scheduler 
      doc:name="Scheduler"
      doc:id="82e2f34c-bb95-4d4d-8392-eb81eb53a1a4" >
      <scheduling-strategy >
        <cron 
          expression="${cron.expression}"
          timeZone= "${cron.time_zone}" />
      </scheduling-strategy>
    </scheduler>
    <logger 
      doc:name="start-application" 
      doc:id="9aefd399-c8f1-45c1-9479-ed834d855191" 
      level="INFO" 
      message="LOG: start application #[app.name]" />
    <db:select 
      doc:name="count-students" 
      doc:id="9e846b0a-7450-4fcf-919f-28c392f8e461" 
      config-ref="Database_Config" 
      target="countDB" 
      targetValue="#[payload.count[0]]">
      <db:sql><![CDATA[SELECT count(*) AS count FROM students;]]></db:sql>
    </db:select>
    <set-variable
      doc:name="lastId" 
      doc:id="529e62ef-7b21-4d0e-b250-9767f97a8c64" 
      value='#[""]' 
      variableName="lastId" 
      encoding="UTF-8" 
      mimeType="application/json"/>
    <choice 
      doc:name="Choice" 
      doc:id="e6ad8531-f7e2-4d53-8ca0-222bc6c248be" >
      <when expression='#[isEmpty(vars.countDB) or vars.countDB == 0]' doc:name="When" >
        <logger 
          doc:name="Logger" 
          doc:id="a1a22309-b0dc-4f35-913c-503a4529a66b"
          level="INFO"
          message="LOG: not data." />
      </when>
      <otherwise doc:name="Otherwise" >
        <foreach 
          doc:name="Foreach" 
          doc:id="3d15a679-2142-44f2-bc86-c8956537a1e7"
          collection="#[1 to ceil(vars.countDB /  p('database.batch_size'))]"
          batchSize="1"
          counterVariableName="counter"
          rootMessageVariableName="rootMessage" >  
          <logger 
            doc:name="Logger" 
            doc:id="c34df9d0-5fcc-4c3a-b8c2-1676b8abd153"
            level="INFO"
            message="#[vars.counter]" />
        </foreach>
      </otherwise>
    </choice>
    <logger 
      doc:name="end-application" 
      doc:id="531f464c-c813-4b55-9410-dcfc4a5dc921" 
      level="INFO" 
      message="LOG: end application #[app.name]" />
    
    <error-handler ref="GlobalErrorHandler" />
  </flow>

  <flow 
    doc:name="http-call"
    doc:id="5eadb779-019f-413b-8345-575800bf9ca0"
    name="http-call" >
    <http:listener 
      doc:name="Listener" 
      doc:id="39510a41-ae2e-40ff-ba24-6a19e9b48a06" 
      config-ref="HTTP_Listener_config" 
      path="${http.path}" />
    <flow-ref 
      doc:name="main-ref"
      doc:id="bc051a05-da37-48f6-a2b7-5a4724c8da05"
      name="main" />
    <ee:transform 
      doc:name="HTTP Response" 
      doc:id="a7a02022-9e2d-4b69-b79e-092d9b7268e8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "message": "Application is running!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    
    <error-handler ref="GlobalErrorHandler" />
  </flow>
</mule>